[registries.search]
#registries = ['registry.access.redhat.com', 'registry.redhat.io', 'docker.io']
registries = ['{{ ceph5_repo }}']

[registries.insecure]
#registries = []
registries = ['{{ ceph5_repo }}']

[registries.block]
registries = []

unqualified-search-registries = ["{{ ceph5_repo }}"]


