---
- hosts: myservers
  become: yes
  tasks:
    - name: install nginx
      yum:
        name: nginx
        state: latest

    - name: Start httpd service
      service:
        name: httpd
        state: started
        enabled: yes

    - name: config firewall
      firewalld:
        service: http
        port: 8080/tcp
        source: 192.0.0.0/24
        zone: public
        state: enabled
        permanent: yes
        immediate: yes

    - name: Create directory
      file:
        path: /opt/training
        state: directory
    
    - name: Create file
      file:
        path: /opt/training/index.html
        state: touch
        owner: training
        group: training
        mode: '0644'