---
- hosts: myservers
  become: yes
  tasks:
    - name: config firewall
      firewalld:
        service: http
        port: 8080/tcp
        source: 192.0.0.0/24
        zone: public
        state: enabled
        permanent: yes
        immediate: yes