---
- hosts: myservers
  become: yes
  tasks:
    - name: Create directory
      file:
        path: /opt/training
        state: directory
    
    - name: Create file
      file:
        path: /opt/training/index.html
        state: touch
        owner: training
        group: training
        mode: '0644'