---
- hosts: myservers
  become: yes
  tasks:

    - name: Create application directory
      file:
        path: /opt/training
        state: directory
        owner: root
        group: root
        mode: '0755'
        
    - name: Create archive from directory
      archive:
        path: /opt/training
        dest: /opt/training.tar.gz
