---
- name: Using Ansible register
  hosts: myservers
  become: yes
  tasks:

    - name: Check if /opt/demo directory exists
      file:
        path: /opt/demo
        state: directory
      register: demo_dir_status

    - name: Show the result of the task
      debug:
        var: demo_dir_status

    - name: Show message if directory was created
      debug:
        msg: "The directory /opt/demo was created!"
      when: demo_dir_status.changed
